<ul id="language">
  <% unless I18n.locale == :cz %>
    <li><%= link_to "CZ", locale: "cz" %></li>
  <% else %>
    <li><%= link_to "RU", "/"  %></li>
  <% end %>
</ul>

<header>
  <hgroup>
    <h1 style="line-height: 1;">Adam Miribyan</h1>
    <h2>hello@adammiribyan.com</h2>
  </hgroup>
</header>

<ul id="projects">
  <li class="caption"><%= t(:caption, scope: [:projects]) %></li>
  <li>
    <span class="date">2010</span>
    <ul>
      <li><%= link_to "Talks", "http://t-a-l-k-s.com", data: { description: t(:description, scope: [:projects, :talks]) } %></li>      
    </ul>
  </li>
  <li>
    <span class="date">2011</span>
    <ul>
      <li><%= link_to "Bree", "/bree", data: { description: t(:description, scope: [:projects, :bree]) } %></li>
      <li><%= link_to "Julie Ibragimova", "http://julieibragimova.com", data: { description: t(:description, scope: [:projects, :julie]) } %></li>
      <li class="coming-soon">Pensieve</li>
    </ul>
  </li>
  <li>
    <span class="date">2012</span>
    <ul>
      <li class="coming-soon">Tongueshape</li>
    </ul>
  </li>
</ul>

<p class="description"></p>
