<%= content_tag_for(:article, post) do %>
<header>
  <hgroup>
    <h1><%= link_to_unless_current post.title, post %><time datetime="<%= post.created_at %>"><%= l(post.created_at.to_date, :format => :long)%></time></h1>
    <h2><%= post.lead %></h2>
  </hgroup>
</header>
<%= markdown post.body %>
<footer>
  <div class="twitter"><a href="http://twitter.com/share" class="twitter-share-button" data-url="<%= post_url(post) %>" data-text="<%= post.title %>" data-count="horizontal" data-via="adammiribyan">Tweet</a></div>
  <div id="vk_like" class="vkontakte-like">
    <script type="text/javascript">
      VK.Widgets.Like("vk_like", {type: "mini", pageTitle: "<%= post.title %>", pageDescription: "<%= post.lead %>", pageUrl: "<%= post_url(post) %>"});
    </script>
  </div>
  <div class="facebook-like"><fb:like href="<%= post_url(post) %>" send="false" width="400" show_faces="true" action="like" font="Arial"></fb:like></div>
</footer>
<div class="facebook-comments">
  <% unless controller.action_name == "show" %>
    <p class="comments-count"><a href="<%= post_path(post) %>">Комментарии</a> <span class="count"><fb:comments-count href="<%= post_url(post) %>"></fb:comments-count></span</p>
  <% end %>
  <div class="comments">
    <fb:comments href="<%= post_url(post) %>" num_posts="10" width="500"></fb:comments>
  </div>
</div>
<% end %>
  