<!DOCTYPE html>
<html xmlns:fb="https://www.facebook.com/2008/fbml" xmlns:og="http://opengraphprotocol.org/schema/">
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title><%= content_for?(:title) ? yield(:title) : "Adam Miribyan" %></title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", "http://platform.twitter.com/widgets.js" %>
    <!--[if IE]>
    <%= javascript_include_tag "http://html5shiv.googlecode.com/svn/trunk/html5.js" %>
    <![endif]-->
    <%= csrf_meta_tag %>
  </head>
  <body class="<%= params.values_at(:controller, :action).join(' ') %>" onload="setupZoom()">
    <%= render "google_plus_init" %>
    
    <div class="container">
      <%= yield %>
    </div>
    
    <% if controller.action_name == "show" %>
    <footer>
      <div id="social_buttons">
        <div class="twitter"><a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal">Tweet</a></div>
        <div class="plus-one"><g:plusone size="standard" count="true" size="medium"></g:plusone></div>
      </div>      
      <p>©2011 Adam Miribyan. Все права защищены.</p>      
    </footer>
    <% end %>
    
    <%= render "metrika" %>
  </body>
</html>