<!DOCTYPE html>
<html xmlns:fb="https://www.facebook.com/2008/fbml" xmlns:og="http://opengraphprotocol.org/schema/">
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title><%= content_for?(:title) ? yield(:title) : "Adam Miribyan" %></title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", "http://platform.twitter.com/widgets.js", "http://userapi.com/js/api/openapi.js?34" %>
    <!--[if IE]>
    <%= javascript_include_tag "http://html5shiv.googlecode.com/svn/trunk/html5.js" %>
    <![endif]-->
    <%= csrf_meta_tag %>
  </head>
  <body class="<%= params.values_at(:controller, :action).join(' ') %>">
    <%= render "google_plus_init" %>
    <%= render "facebook_init" %>
    <%= render "vkontakte_init" %>
    
    <div class="container">
      <header>
        <%= link_to("/getsome", class: "logo") do %>
          <h1 class="logo">Get Some</h1>
        <% end %>
      </header>
      <%= yield %>
    </div>
    
    <%= render "metrika" %>
  </body>
</html>